/* 弹幕样式 */
#zipllplugin-danmu {
    position: fixed;
    z-index: 999;
    max-width: 300px;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  #zipllplugin-danmu li {
    display: flex;
    align-items: center;
    opacity: 0;
    border-radius: 20px;
    color: #fff;
    padding: 3px 10px;
    margin-top: 5px;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  #zipllplugin-danmu li img {
    width: 26px;
    height: 26px;
    border-radius: 50%; 
    margin-right: 10px;
  }
  
  #zipllplugin-danmu li a {
    text-decoration: none;
    color: inherit;
  }
    
  #zipllplugin-danmu li a:first-child {
    margin-right: 4px; 
  }
  
  #zipllplugin-danmu li a.altitle {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  @media screen and (max-width: 900px) {
    #zipllplugin-danmu {
      display: none;
    }
  }